
/*--------------------------------------home page-------------------------------------------------------*/
/* main image*/
.banner{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(images/banner.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
    max-width: 100%;
}

.banner1{
    background:linear-gradient(rgba(5, 5, 5, 0.6),rgba(5,5,5,0.3)),url(images/brock-wegner-pWGUMQSWBwI-unsplash.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
    max-width: 100%;
    height: 80vh;
}
/*book a bus with ease*/
.content{
   
    position: absolute;
    top: 35%;
    margin-left:50%;
}
/*for the 3 pictures in a row*/

/*top trending buses*/
.heading{
 color: #240A6B;
 font-size: 50px;
 text-align: center;
 margin-top: 70px;
 font-weight: bold;

}
/*About us*/
.heading1{
    color: #240A6B;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.heading2{
    color: #240A6B;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
}
/*fisr container*/
#container{
   background-color: #EFF3FF;
   margin-top:0px; 
   
}
/*all the containers*/
#row{
    background-color: #EFF3FF;
    width: 100%;  
}
#row2{
    border-radius: 20px;
    margin-left:-5px;
    width:472px;
    height: 250px;
    background-color: #EFF3FF;
}
#col{
   color: #240A6B;
   font-size: 45px;
   font-weight: bold;
   padding-left: 50px;

  
}
#row1{
    color: #240A6B;
    font-size: 18px;
    font-weight: normal;
}
/*image css*/
#align1{
    width:450px;
    height:300px;
    border-radius: 20px; 
    margin-right:150px;
    margin-top: 20px;
   
}

#align2{
    width:100%;
    margin-left:5px;
    border-radius: 20px;
}
                                                        
#align2{
    width:450px;
    height:300px;
}

/*button to add bus*/
#btn{
    top: 500px;
    right: -680px;
    color:white;
    background-color: #240A6B;
    width: 250px;
}
#btn1{
    background-color: white;
    color: #240A6B;
    width: 150px;
}
#btn2{
    background-color: #240A6B;
    color: white;
    width: 80px;
    margin-left:250px;
}
.copyright{
    text-align: center;
    font-weight: bold;
}
#h1text2{
    margin-left: -60px;
    margin-top: 80px;
    font-weight:bold;
}
#ac{
    margin-left:30px;
}
/*-------------------------------------------------------*****/
.bus-img{
    width:265px;
    height:250px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:2px;
}
#card-con{
    margin-right:-100px;
}
#card-con1{
    margin-right:-120px;
}
.trip-info-card {
    width: 25rem; 
    height: 15rem;
    margin-top:-50px;
    margin-left: 20px;
}
.trip-card-grid1 {
    display: grid;
    grid-template-columns: 7rem auto;
    height: 100%;
}
.trip-card-grid {
    display: grid;
    grid-template-columns: 7rem auto;
    height: 100%;
}
.trip-info-bus-img {
    height: 250px;
    width: 200px;

    background-size: cover;
    background-position: center;
}
.trip-info-bus-img .trip-id {
    position: absolute;
    bottom: 10px;
    padding-left:50px;
}
#text{
    font-size:17px;
    padding-top: 30px;
    padding-left: 95px;
}
#text1{
    font-size:25px;
    padding-top: 30px;
    padding-left:350px;
}
#stars{
    width: 150px;
}
.trip-info-card-info span {
    padding: 0.5rem;
    font-size: 1rem;
}
.seat-icon {
    margin: .5rem;
    height: 20px;
    width: auto;
}
.vehicles{
    margin-left:50px;  
    
}
/* top trending buses */
#marks{
    margin:0;
    padding: 0;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    color:#240A6B;
    flex-direction: row;
    margin-left:150px;
    margin-top:-150px;
  
  }
.containers{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
.card{
    position: relative;
    left:-6% ;
    width:350px;
    height: 370px;
    transition: 0.3s ease-out;
    border-radius: 20px;
    box-shadow:0 3px 15px rgba(0,0,0,0.7) ;
  }
.card .imgbox{
    position: relative;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
.card .imgbox img{
    position: absolute;
    top:0px;
    border-radius:20px 20px 0px 0px;
    left: 0;
    width:100%;
    overflow: hidden;
    height:90%;
    display:block;
    transition: 0.5s;
  }
.card .contents {
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height:60px;
    padding:12px;
    background: #EFF3FF;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
  
  }
.card:hover .contents{
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
  }
.contents p{
    margin: 10px 0 0;
    padding: lem 1em;
    transform:translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
  }
  
.card:hover .contents p {
    transform: translateY(0);
    opacity: 1;
  }
.end-text{
    margin-left:150px;
    margin-top:-50px; 
  }
  /* payment page*/

#payment-content{
    margin-left:250px;
}
.start-trip-content{
    margin-left:10px;
    margin-top: 20px;
}
.end-trip-content{
    margin-left:250px;
    margin-top:-260px;
}
.center-value{
   margin-left: 50px;
   font-weight: bold;
   font-size: 32;
   margin-top:20px;
}
.value{
    margin-left:18px;
}
.payment-content{
 text-align: center;
 margin-top:70px;
}
.form{
    text-align: left;
}
#cvv{
    margin-left:100px;
    
   
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left:150px;
    background: #240A6B;
    padding:5px;
    border-radius:10px;
}
.form-container1 form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 150px;
    background: #240A6B;
    padding:5px;
    border-radius:10px;
}
.form-container2 form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom:-350px;
    left:340px;
    background: #240A6B;
    padding:5px;
    border-radius:10px;
}
   
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight:bold;
    color: #fff;
    margin-left: 5px;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn{
    
    padding: 10px 34px;
    border: none;
    margin-top: 10px;
    border-radius: 0.5rem;
    background: white;
    color: #240a6b;
    font-size: 1rem;
    font-weight: 500;
}
.form-container1 form .btn{
    
    padding: 10px 34px;
    border: none;
    margin-top: 10px;
    border-radius: 0.5rem;
    background: white;
    color: #240a6b;
    font-size: 1rem;
    font-weight: 500;
}
.form-container2 form .btn{
    
    padding: 10px 34px;
    border: none;
    margin-top: 10px;
    border-radius: 0.5rem;
    background: white;
    color: #240a6b;
    font-size: 1rem;
    font-weight: 500;
}
.form-container form .btn:hover{
    background: #eeeff1;
}
.form-container1 form .btn:hover{
    background: #eeeff1;
}
.form-container2 form .btn:hover{
    background: #eeeff1;
}
  

#dropdown{
    gap:0rem;
    min-width: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.dropdown{
  
    min-width:8em;
    position: relative;
    margin: 1em;
}
.dropdown *{
    box-sizing: border-box;
}
  
.select{
    
    background:white;
    color:black;
    display: flex;
    margin-top:15px;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 0.5em;
    padding:0.5em;
    cursor: pointer;
    transition: background 0.3s;
}
.select-clicked{
    border:2px solid black;
    box-shadow: 0 0  0.8em #2a395e;
  
}
.select:hover{
    background: #0e2d6b;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
  
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #a2acbf;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em  1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #15151e;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
  
}
.menu li:hover{
    background: #9fa8c0;
}
.active{
    background: #23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}
 

.checkbox span{
    font-weight:bold;
    font-size:20px;
    color: #fff;
    margin-left:-70px;
    margin-bottom:-30px;
}

.bg-dark-blue-theme {
    background-color: #240A6B;
}
  
@media only screen and (max-device-width:900px ){
    #h1text{
        font-size:40px;    
        margin-left:15%;
    }
    #h1text2{
        margin-left: 15%;
    }
    #align1{
    
        width:300px;
        margin-left:30px;
        margin-bottom:10px;   
    }
    #row{
        
        width:350px;
    }
    #row1{
        font-size: 12px;
    }
    #col{
        font-size:25px;
        margin-left:-105px;
        margin-top:10px;
    }
    #container{
        margin-left:0.5px;
    }
    .trip-info-card{
        width:20rem;
        margin-left:-2px;
    }
    #btn1{
        width:100px;
        font-size:15px;
    }
    .trip-info-bus-img{
        width:150px;
    }
    #text{
        margin-left:-40px;
        margin-top:-15px;
    }
    .seat-icon{
        margin-left:-5px;
    }
    #ac{
        margin-left:-0.0010px;
    }
    .trip-info-card-info span{
        margin-left:-2px;
    }
    #marks{
        flex-direction: column;
    }

}
@media (device-width:820px ){
    #container{
        margin-left:50px;
    }
}
@media (device-width:768px ){
    #container{
        margin-left:25px;
    }
}
@media (device-width:280px ){
    #align1{
    
        width:250px;
        margin-left:-10px;
        margin-bottom:10px;
    }
    #btn{
        width:125px;
    }
        
    
}

