/* * {
    border: 1px red solid;
} */

:root {
    --sidebar-width: 335px;
}
.dashboard-grid {
    display: grid;
    /* grid-template-columns: auto; */

}

.sidebar {
    position: fixed;
    height: 100vh;
    max-width: var(--sidebar-width);
    z-index: 100000;
}

.dashboard-content {
    overflow-y:scroll;
    scroll-behavior: smooth;
    margin-top: 3rem;
    margin-left: var(--sidebar-width);
    height: 100%;
}

.trip-info-card {
    width: 25rem; 
    height: 10rem;
}

.trip-card-grid {
    display: grid;
    grid-template-columns: 7rem auto;
    height: 100%;
}

.trip-info-bus-img {
    height: 100%;
    width: auto;

    background-size: cover;
    background-position: center;
}

.trip-info-bus-img .trip-id {
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    
}

.trip-info-card-info span {
    padding: 0.5rem;
    font-size: 1rem;
}

.seat-icon {
    margin: .5rem;
    height: 20px;
    width: auto;
}

.rating-stars {
    gap: 5px;
 }

.user-card {
    width: 10rem;
    height: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: #f5f5f5;
}
