
/*--------------------------------------home page-------------------------------------------------------*/
/* main image*/
.banner{
    background-image: url(images/banner.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
    max-width: 100%;
    max-height: 50%;
}
/*book a bus with ease*/
.content{
   
    position: absolute;
    top: 35%;
    margin-left:50%;

}
.mySlides{
    margin-top: 50px;
    height: 250px;
}
/*#h1text{
    font-size: 90px;
    align-items: center;
}*/
/*top trending buses*/
.heading{
 color: #240A6B;
 font-size: 50px;
 text-align: center;
 margin-top: 70px;
 font-weight: bold;

}
/*#row{
   background-color: #bbc4de;
   margin-top: 2%;
   padding: 30px;
   display: grid;
   height: 100%;
}*/
/*#col{
   color: #240A6B;
   font-size: 48px;
   font-weight: bold;

}
#row1{
    color: #240A6B;
    font-size: 25px;
    font-weight: normal;
}
#align1{
    position: relative;
    top: -260px;
    right:-700px;
    border-radius: 20px;
    width: 450px;
}
#btn{
    top: 500px;
    right: -680px;
    color:white;
    background-color: #240A6B;
    width: 250px;
}*/

@media (max-device-width:900px ){
    #h1text{
        font-size:40px;
        margin-left:15%;
    }
    /*.content{
   
        position: absolute;
        top: 40%;
        margin-left:15%;
    
    }
    #align1{
        width: 350px;
        height: 250px;
    }
    #row{
      height: 100%;
    }
    */
    

}