
.banner{
    background-image: url(images/banner.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
    
}
.content{
   
    position: absolute;
    top: 40%;
    margin-left:54%;

}
#h1text{
    font-size: 110px;
}



@media (max-device-width:900px ){
    #h1text{
        font-size:50px;
    }
    .content{
   
        position: absolute;
        top: 40%;
        margin-left:15%;
    
    }
}