
.banner{
    background-image: url(images/banner.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
}
.content{
   
    position: absolute;
    top: 40%;
    margin-left:54%;

}
