body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
}

.card2 {
    margin-left: 30px;
}
.card{
    margin-left: 30px;
}
.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
}

.LoginImage {
    width: 750px;
    height: 400px;
}
.SignupImage {
    width: 650px;
    height: 450px;
}
.new1{
    margin-left: 30px;
}
.new{
    margin-left: 75px;
}
.old{
    margin-left: 50px;
    margin-top: 150px;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}


.or {
    width: 10%;
    font-weight: bold;
}

.text-sm {
    font-size: 14px;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #240a6b;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #d9d0e3;
    width: 300px;
    color: #000;
    border-radius: 10px;
}

.btn-blue:hover {
    background-color: #240a6b;
    cursor: pointer;
    color: #fff
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
}
.select{
    border-radius: 10px;
}
/*My Profile Page*/
.dashboard-grid {
    display: grid;
    grid-template-columns: 22% auto;
}
.sidebar {
    position: sticky;
    height: 100vh;
    max-width: 335px ;
}

.dashboard-content {
    overflow-y:scroll;
    scroll-behavior: smooth;
}
/*.Profile-Gradient{
    background-position:center;
    position:relative;
    padding-bottom: 0px;

}
.line1{
     height: 50px;
    width: 400px; 
}*/
.line2{
    height: 50px;
    padding-right: 170px;
}
.Profile-Form{
    padding-left: 175px;
    padding-top: 0px;
    padding-bottom: 100px;
    margin-top: 0px;
}

.lol{
    width: 500px;
    display: flex;
    gap: 25px;
    padding-left: 300px;
}
hi{
    width: 100px;
}
.sam{
    margin-left: 150px;
    padding-top: 210px;
}

.row{
   padding-left: 30px;
}
.test{
    padding-bottom: 0px;
}
.test1{
    padding-top: 0px;
    margin-top: 0px;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px;
    }

    .image {
        width: 300px;
        height: 220px;
    }
    .SignupImage{
        width: 400px;
        height: 300px;
    }
    
    .border-line {
        border-right: none;
    }

    .card2 {
        border-top: 1px solid #EEEEEE;
        margin: 0px 15px;
    }
    .new1{
        margin-left: 0px;
        margin-top: 0px;
    }
    .new{
        margin: 0px;
    }
}