<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/commonstyles.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax3.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
<!-- Font awesome for star icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header1">
        <header>
            <!--nav bar-->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light p-md-2 bg-white">
                <div class="container">
                    <a href="Index.html" class="navbar-brand text-white fs-1" style="margin-left: -70px;">Book My Bus</a>
                    <button type="button"class="navbar-toggler bottom-"data-bs-target="#navbarNav"data-bs-toggle="collapse"aria-controls="navbarNav"aria-expanded="false"aria-label="Toggle Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-black" id="navbarNav">
                        <div class="mx-auto"></div>
                        <ul class="navbar-nav fs-5">
                            <li class="nav-item"><a href="VehiclePage.html" class="nav-link text-dark">Book Now</a></li>
                            <li class="nav-item"><a href="/#aboutUs" class="nav-link text-dark">About Us</a></li>
                            <li class="nav-item"><a href="/#aboutUs" class="nav-link text-dark">Contact Us</a></li>

                            <!-- User name and pic here with a drop down -->
                            <%- include('partials/navBarProfileOrSignIn')%>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
        </header>
    </div>

    <div class="dashboard-grid" style="height:100%;">

        <div class="sidebar" style="background-color: #240A6B;">
            <a href="#" class="navbar-brand text-white fw-bold fs-1 mx-5">Book My Bus</a><br>
            <div class="mx-5 mt-5 text-white  fs-3">Owner Dashboard</div>
            <ul class="list-group-horizontal list-unstyled mx-5 " id="dashboard-menu">
                <li><a class="text-white-50 text-decoration-none fs-5"  href="#upcoming-trips">Upcoming Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="#pending-confirmation">Pending confirmation</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="#prev-trips">Previous Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="#cancelled-trips">Cancelled Trips</a></li>
                <li><a class="text-white text-decoration-none fs-5" href="#manage-buses">Manage buses</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5"href="#" style="position:absolute; bottom:1rem ;">My Profile</a></li>
            </ul>
        </div>

        <div class="dashboard-content p-4">
            <h1  class="p-2" id="manage-buses">Manage Buses</h1>
                <div id="managebusesitems" class="d-flex flex-wrap gap-3">
                     <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;"> 
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                
                            </div>
                            
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start fw-bolder fs-4">NA-1323</div>
                                    <div class="col-6 text-center">
                                        
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-12 text-start">Price/KM - LKR 200</div>
                                    
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">
                                        <img src="//images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                    
                                    
                                    <div class="col-6 text-center">NON-AC</div>
                                </div>
                                <div class="row px-4">
                                    <div class="c text-center">
                                        <div class="rating-stars d-flex">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"> </span>
                                        </div>
                                    </div>
                                    
                                </div>   
                                
                                <div class="row px-3">
                                    <div class="mb-2 text-center">
                                        <button class="btn-outline-primary rounded-pill shadow-none px-4 fs-6">
                                            Manage
                                        </button>
                                    </div>
                                    
                                </div>                      
                            </div>
                        </div>  
                    </div>


                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                
                            </div>
                            
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start fw-bolder fs-4">NA-1323</div>
                                    <div class="col-6 text-center">
                                        
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-12 text-start">Price/KM - LKR 200</div>
                                    
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">
                                        <img src="//images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                    
                                    
                                    <div class="col-6 text-center">NON-AC</div>
                                </div>
                                <div class="row px-4">
                                    <div class="c text-center">
                                        <div class="rating-stars d-flex">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"> </span>
                                        </div>
                                    </div>
                                    
                                </div>   
                                
                                <div class="row px-3">
                                    <div class="mb-2 text-center">
                                        <button class="btn-outline-primary rounded-pill shadow-none px-4 fs-6">
                                            Manage
                                        </button>
                                    </div>
                                    
                                </div>                      
                            </div>
                        </div>  
                    </div>

                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                
                            </div>
                            
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start fw-bolder fs-4">NA-1323</div>
                                    <div class="col-6 text-center">
                                        
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-12 text-start">Price/KM - LKR 200</div>
                                    
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">
                                        <img src="//images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                    
                                    
                                    <div class="col-6 text-center">NON-AC</div>
                                </div>
                                <div class="row px-4">
                                    <div class="c text-center">
                                        <div class="rating-stars d-flex">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"> </span>
                                        </div>
                                    </div>
                                    
                                </div>   
                                
                                <div class="row px-3">
                                    <div class="mb-2 text-center">
                                        <button class="btn-outline-primary rounded-pill shadow-none px-4 fs-6">
                                            Manage
                                        </button>
                                    </div>
                                    
                                </div>                      
                            </div>
                        </div>  
                    </div>

            </div><br>
            
            <h1  class="p-2" id="add-a-bus">Add A Bus</h1>
            <div id="add-a-bus-form" class="fs-4 mx-4">
                <div class="row" >
                    <div class="col-6">
                        <div class="row my-2">
                            <div class="col-5">
                            <label class="bus-number">Bus Number</label>
        
                            </div>
                            <div class="col-6">
                                <input type="text" id="bus_number" name="bus-number">
        
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-5">
                            <label class="bus-number">Number Of Seats</label>
        
                            </div>
                            <div class="col-6">
                                <input type="text" id="seats" name="seats">
        
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-5">
                                <label class="price-per-km">Price per Km</label>
        
                            </div>
                            <div class="col-6">
                                <input type="text" id="price-per-km" name="price-per-km"><br>
        
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-5">
                                <span>AC / Non AC</span>
        
                            </div>
                            <div class="col-6" id="radio_ac">
                                <input type="radio" name="ac-status" id="ac">
                                <label for="ac">AC</label>
                                <input type="radio" name="ac-status" id="non-ac">
                                <label for="non-ac">NON-AC</label>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-5">
                                <label class="driver-name">Driver Name</label>
        
                            </div>
                            <div class="col-6">
                                <input type="text" id="name" name="driver-name">
        
                            </div>
                        </div>


                    </div>
                    
                    <div class="col-6 ">
                        
                            <div id="bus-img-display"></div>
                        
                        
                        
                        <input type="file" name="bus-image" id="busimgupload">
                    </div>
                    <div class="col-6"></div>
                    <button class="btn-primary col-3 rounded-pill "id="addBus" type="submit">Add Bus</button>
                   
                </div>

                
                
                

            </div>
        </div>
    </div>
</div>

    <script>

        // Display uploaded image
        // select the elements
        const imageUploadInput = document.getElementById("busimgupload")
        const imageDisplay = document.getElementById("bus-img-display")

        imageUploadInput.addEventListener( "change", displayImg )

        function displayImg() {
            console.log("Upload")
            imgObjUrl = URL.createObjectURL(imageUploadInput.files[0])
            imageDisplay.style.backgroundImage = `url(${imgObjUrl})`;
        }

        // Sidebar menu link color to white for selected link.
            // get a node list of the sidebar links
            const sidebarMenuLinks = document.querySelectorAll(".sidebar li a");

            sidebarMenuLinks.forEach( (link) => {
                link.addEventListener("click", sidebarMenuColorChange);
            });

            // The colors of the sidebar menu
            const colorActiveBsClass = "text-white";
            const colorDefaultBsClass = "text-white-50";

            function sidebarMenuColorChange(e) {
                link = e.target;

                // switch the color of the link to the active color when clicked
                link.classList.replace(colorDefaultBsClass, colorActiveBsClass);

                // switch colors of the other links to default color
                sidebarMenuLinks.forEach(element => {
                    if (element !== link) {
                        element.classList.replace(colorActiveBsClass, colorDefaultBsClass);
                    }
                });
            }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById("addBus").addEventListener("click",addingBus);

        function addingBus(event){
            event.preventDefault();

            let BusNumber =  document.getElementById("bus_number");
            let seat = document.getElementById("seats");
            let price = document.getElementById("price-per-km");
            let ac;
            document.getElementsByName("ac-status").forEach( option => {
                if (option.checked) {
                ac = option.id
            }
            }) 
            // let ac = document.getElementById("radio_ac").value;
            let driverName = document.getElementById("name");
           /* let busimage = document.getElementById("busimgupload");*/

            let addData = {
                Bus_No : BusNumber.value,
                No_Of_Seats : seat.value,
                Price_Per_km : price.value,
                AC_Status : ac,
                Driver_Name : driverName.value,
                // Bus_Image: busimage      
            }
            
             axios.put('http://localhost:3000/managebus/addBus',addData)
             .then((res)=> {
                BusNumber.value="";
                seat.value="";
                price.value="";
                driverName.value="";
                document.getElementsByName("ac-status").forEach(Option=>{
                    if (Option.checked == true)
                    {Option.checked = false
                    }
                 })
               /* busimage.value="";*/
                 getbuses()

                /*addBuses(addData);*/
             }).catch(e => console.log(e))
             validate();
        }
        
        function displayBuscard(managebusesitems){
            
            let busform = document.getElementById("managebusesitems");
            busform.innerHTML = ""
            managebusesitems.forEach(buses =>{
                busCard = `<div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                
                            </div>
                            
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start fw-bolder fs-4">${buses.Bus_No.toUpperCase()}</div>
                                    <div class="col-6 text-center">
                                        
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-12 text-start">Price/KM - LKR ${buses.Price_Per_km}</div>
                                    
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">
                                        <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>${buses.No_Of_Seats}</span>
                                    </div>
                                    
                                    
                                    <div class="col-6 text-center">${buses.AC_Status.toUpperCase()}</div>
                                </div>
                                <div class="row px-4">
                                    <div class="c text-center">
                                        <div class="rating-stars d-flex">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"> </span>
                                        </div>
                                    </div>
                                    
                                </div>   
                                
                                <div class="row px-3">
                                    <div class="mb-2 text-center">
                                    <a href="/manageBus/update/${buses.Bus_ID}"><button class="btn-outline-primary rounded-pill shadow-none px-4 fs-6">Manage</button></a>
                                    </div>
                                    
                                </div>                      
                            </div>
                        </div>  
                    </div>  `
                        busform.innerHTML += busCard;
            });
        }
        document.addEventListener("DOMContentLoaded",getbuses)

        function getbuses(){
            console.log("jhgfds")
            axios.get('http://localhost:3000/manageBus/OwnedBuses').then((res)=> { 
                console.log(res.data)
                
                displayBuscard(res.data)}).catch(e => console.log(e))
        }


        function validate(){
            let BusNumber =  document.getElementById("bus_number").value;
            let seat = document.getElementById("seats").value;
            let price = document.getElementById("price-per-km").value;
            let ac;
            document.getElementsByName("ac-status").forEach( option => {
                if (option.checked) {
                ac = option.id
            }
            }); 
            // let ac = document.getElementById("radio_ac").value;
            let driverName = document.getElementById("name").value;
           /* let busimage = document.getElementById("busimgupload");*/

           let vehicle_no_pattern =/^[A-Za-z]{2}-[0-9]{4}$/;
           if(!BusNumber.match(vehicle_no_pattern)){                                                                          
                alert("Please enter a valid vehicle number");
                document.getElementById("bus_number").focus();
                return false;
           }if (seat == ""){
                alert("Please add the seat amount");
                document.getElementById("seats").focus();
                return;
           }if (price == ""){
                alert("Please enter the price amount");
                document.getElementById("price-per-km").focus();
                return;
           } if(ac == ""){
                alert("Please select the ac status");
                document.getElementById("ac-status").focus();
                return;
           } if (driverName == ""){
                alert("Please enter the driver name ");
                document.getElementById("name").focus();
                return;
           }
               alert("Your bus has successfully added");  
        }
    </script>
</body>
</html>