<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/commonstyles.css">
    <link rel="stylesheet" href="/css/syntax2.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

    
</head>
<body style="height:100vh; overflow: hidden;">
    <div class="header1">
        <header>
            <!--nav bar-->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light p-md-3">
                <div class="container">
                    <!-- <a href="#" class="navbar-brand text-primary fs-1" style="margin-left: -70px;">Book My Bus</a> -->
                    <button type="button"class="navbar-toggler bottom-"data-bs-target="#navbarNav"data-bs-toggle="collapse"aria-controls="navbarNav"aria-expanded="false"aria-label="Toggle Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mx-auto"></div>
                        <ul class="navbar-nav fs-5">
                            <li class="nav-item"><a href="/vehicle" class="nav-link text-dark">Book Now</a></li>
                            <li class="nav-item"><a href="/#aboutUs" class="nav-link text-dark">About Us</a></li>
                            <li class="nav-item"><a href="/#ContactUs" class="nav-link text-dark">Contact Us</a></li>

                            <%- include('partials/navBarProfileOrSignIn')  %>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
        </header>
    </div>

    <div class="dashboard-grid" style="height:100%;">

        <div class="sidebar" style="background-color: #240A6B;">
            <a href="#" class="navbar-brand text-white fw-bold fs-1 mx-5">Book My Bus</a><br>
            <div class="mx-5 mt-5 text-white  fs-3">Owner Dashboard</div>
            <ul class="list-group-horizontal list-unstyled mx-5 " id="dashboard-menu">
                <li><a class="text-white-50 text-decoration-none fs-5"  href="/dashboard/#upcoming-trips">Upcoming Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="/dashboard/#pending-confirmation">Pending confirmation</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="/dashboard/#prev-trips">Previous Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="/dashboard/#cancelled-trips">Cancelled Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="/managebus">Manage buses</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5"href="#" style="position:absolute; bottom:1rem ;">My Profile</a></li>
            </ul>
        </div>

        <div class="dashboard-content p-4" style="margin-top: 3rem; height: 100% ;">
            <!--<h1 class="p-2" id="My-profile">My Profile</h1>
            <div id="My-profile-pic" class="d-flex flex-wrap gap-3"></div>-->
            <!--<div class="Profile-Gradient" >
                <svg class=" test py-0" style="margin-bottom: -250px;" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="560" preserveAspectRatio="none" viewBox="0 0 1440 560">
                    <g mask="url(&quot;#SvgjsMask1593&quot;)" fill="none">
                        <rect width="1440" height="350" x="0" y="0" fill="rgba(255, 255, 255, 1)"></rect>
                        <path d="M1077 341L1076 686" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M469 1L468 -360" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M565 290L564 -125" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M928 393L927 235" stroke-width="8" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M606 299L605 66" stroke-width="8" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M1043 408L1042 63" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M1134 386L1133 591" stroke-width="6" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M607 203L606 -77" stroke-width="10" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M1307 487L1306 667" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M396 105L395 -249" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M531 285L530 -84" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M884 64L883 -165" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M909 53L908 -326" stroke-width="10" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M310 398L309 806" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M595 162L594 -182" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M189 287L188 -4" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M134 277L133 568" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M625 469L624 91" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M258 559L257 320" stroke-width="6" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M210 50L209 -115" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M780 66L779 417" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M1279 372L1278 762" stroke-width="10" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M1379 282L1378 -49" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M1198 245L1197 546" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M1340 126L1339 510" stroke-width="6" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M629 408L628 673" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M1159 540L1158 237" stroke-width="8" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M504 411L503 65" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M355 7L354 183" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M626 61L625 -148" stroke-width="8" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M824 424L823 676" stroke-width="6" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M725 509L724 120" stroke-width="10" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M920 1L919 345" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                        <path d="M876 461L875 74" stroke-width="6" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M286 334L285 661" stroke-width="8" stroke="url(#SvgjsLinearGradient1594)" stroke-linecap="round" class="Down"></path>
                        <path d="M198 316L197 98" stroke-width="8" stroke="url(#SvgjsLinearGradient1595)" stroke-linecap="round" class="Up"></path>
                    </g>
                    <defs>
                        <mask id="SvgjsMask1593">
                            <rect width="1440" height="250" fill="#ffffff"></rect>
                        </mask>
                        <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="SvgjsLinearGradient1594">
                            <stop stop-color="rgba(215, 225, 255, 0)" offset="0"></stop>
                            <stop stop-color="rgba(215, 225, 255, 1)" offset="1"></stop>
                        </linearGradient>
                        <linearGradient x1="0%" y1="100%" x2="0%" y2="0%" id="SvgjsLinearGradient1595">
                            <stop stop-color="rgba(215, 225, 255, 0)" offset="0"></stop>
                            <stop stop-color="rgba(215, 225, 255, 1)" offset="1"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </div>--><br><br><br>
            <!--My Profile Form-->
            <!--<div class="Profile-Form" >
                <div class="container-fluid">		
                    <div class="row px-">
                        <div class="line1 col-xs-2">
                            <label class="mb-1 rounded-pill"><h6 class="mb-0 text-sm">Name</h6></label>
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        
                        <div class="line1 col-xs-4">
                            <label class="mb-1 rounded-pill"><h6 class="mb-0 text-sm">Contact No</h6></label>
                            <input type="text" class="form-control" placeholder="Contact No">
                        </div>
                        
                        <div class="line2 col-xs-6">
                            <label class="mb-1 rounded-pill"><h6 class="mb-0 text-sm"><br>Address</h6></label>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
    
                        <div class="line1 col-xs-2">
                            <label class=" py-0 rounded-pill"><h6 class="mb-0 text-sm"><br><br>Contact No</h6></label>
                            <input type="text" class="form-control" placeholder="Contact No">
                        </div>
                            
                        <div class="line1 col-xs-4">
                            <label class=" py-0 rounded-pill"><h6 class="mb-0 text-sm"><br><br>Email</h6></label>
                            <input type="text" class="form-control" placeholder="Email"><br><br><br><br><br><br>
                        </div>     
                    </div><br><br><br><br><br>
                    <div class="lol">
                        <div class="hi mb-3 px-1">
                            <center><button type="submit" class="btn btn-blue text-center">Cancel</button></center>
                        </div>

                        <div class="hi mb-3 px-1">
                            <center><button type="submit" class="btn btn-blue text-center">Update</button></center>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-6">
                    <!--My Profile Form-->
                    <h1 class="Update">My Profile</h1><br><br>
            <div class="Profile-Form" >
                <div class="container-fluid">		
                    <div class="row">
                        <div class="line1">
                            <label class="mb-1 rounded-pill"><h6 class="mb-0 text-sm">Name</h6></label>
                            <input type="text" class="form-control" placeholder="Name" id="name">
                        </div>

                        <div class="line1">
                            <label class="mb-1 rounded-pill"><h6 class="mb-0 text-sm"><br>Address</h6></label>
                            <input type="text" class="form-control" placeholder="Address" id="address">
                        </div>
    
                        <div class="line1">
                            <label class=" mb-1 rounded-pill"><h6 class="mb-0 text-sm"><br>Contact No</h6></label>
                            <input type="tel" class="form-control" placeholder="Contact No" id="contact" maxlength="10" minlength="10" pattern="//^(0|+94)[0-9]{9}$//">
                        </div>

                        <!-- <div class="line1">
                            <label class=" mb-1 rounded-pill"><h6 class="mb-0 text-sm"><br>Email</h6></label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div> -->
                              
                    </div>
                </div>
            </div>
                </div>
                <div class="BusIM col-6"><br><br><br><br><br>
                    <!-- Bus Upload Image -->
                    <!-- <div class="sam col-lg-5">
                        <div class="col-6 ">
                          <div id="bus-img-display"></div>
                          <input type="file" name="bus-image" id="bus-img-upload">
                        </div>
                        <div class="col-6"></div>
                        <button class="btn-primary col-3 " type="submit">Add Bus</button>
                    </div> -->
                    <div class="col-6 ">
                        <div id="bus-img-display"></div>
                        <input type="file" name="bus-image" id="bus-img-upload">
                    </div>
                </div>
            </div>
            <div class="lol">
                <div class="hi mb-3 px-1">
                    <center><button type="submit" class="btn btn-blue text-center" id="update" onclick="validate()">Update</button></center>
                </div>
            </div>
        </div>

        
    </div>

    <script>

        // Display uploaded image
        // select the elements
        const imageUploadInput = document.getElementById("bus-img-upload")
        const imageDisplay = document.getElementById("bus-img-display")

        imageUploadInput.addEventListener( "change", displayImg )

        function displayImg() {
            console.log("Upload")
            imgObjUrl = URL.createObjectURL(imageUploadInput.files[0])
            imageDisplay.style.backgroundImage = `url(${imgObjUrl})`;
        }

        // Sidebar menu link color to white for selected link.
            // get a node list of the sidebar links
            const sidebarMenuLinks = document.querySelectorAll(".sidebar li a");

            sidebarMenuLinks.forEach( (link) => {
                link.addEventListener("click", sidebarMenuColorChange);
            });

            // The colors of the sidebar menu
            const colorActiveBsClass = "text-white";
            const colorDefaultBsClass = "text-white-50";

            function sidebarMenuColorChange(e) {
                link = e.target;

                // switch the color of the link to the active color when clicked
                link.classList.replace(colorDefaultBsClass, colorActiveBsClass);

                // switch colors of the other links to default color
                sidebarMenuLinks.forEach(element => {
                    if (element !== link) {
                        element.classList.replace(colorActiveBsClass, colorDefaultBsClass);
                    }
                });
            }


    </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById("update").addEventListener("click",update);

        function update(){
            let name = document.getElementById("name").value;
            let address = document.getElementById("address").value;
            let contact = document.getElementById("contact").value;

            let profileValues ={
                Name: name,
                Address :address,
                Contact_No :contact
            }
            console.log(profileValues)
            axios.put('http://localhost:3000/accounts/profileUpdate',profileValues)
            .then((res)=>{
            })
        }

        document.addEventListener("DOMContentLoaded", getvalues)
        function getvalues(){
            const urlPath = "/accounts/profileView"

        // For redirect param
        const params = new URLSearchParams(window.location.search);
            const redirectURL = params.get("redirect")
            let url;
            if (redirectURL) {
                url =`${urlPath}?redirect=${redirectURL}`;
            } else {
                url = `${urlPath}`;
            }
        
            axios.get(url)
            .then( (res) => {

                axiosReqUrl = window.location.origin + res.config.url  // url axios sent the request to

                //  if the url axios sent the request and the respose url from the server doesnt match a redirection has occured
                if(axiosReqUrl !== res.request.responseURL) {
                    window.location.href = res.request.responseURL;  // set the window location to redirect     
                }

                let profileDetails = res.data;
                let name = document.getElementById("name");
                let address = document.getElementById("address");
                let contact = document.getElementById("contact");

                name.value = profileDetails.Name;
                address.value = profileDetails.Address;
                contact.value = profileDetails.Contact_No;

            })
            .catch(e=> {
                console.log(e)
                if(e.response.data.error.message){
                    alert(e.response.data.error.message)
                }
            })

        }

        function validate(){
            let contact = document.getElementById("contact").value;
            let contact_no_pattern = /^[0]{1}-[0-9]{9}$/;
            if(!contact.match(contact_no_pattern)){
                alert("Please enter a valid contact number");
                document.getElementById("contact").focus();
                return false;
            }
            alert("Your Profile has been successfully updated")
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>