<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/syntax1.css">
    <link rel="stylesheet" type="text/css" href="/css/commonstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <header>
            <!--nav bar-->
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-blue-theme p-md-3">
                <div class="container">
                    <a href="Index.html" class="navbar-brand text-white fs-1 fw-bold">Book My Bus</a>
                    <button type="button"class="navbar-toggler bottom-"data-bs-target="#navbarNav"data-bs-toggle="collapse"aria-controls="navbarNav"aria-expanded="false"aria-label="Toggle Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mx-auto"></div>
                        <ul class="navbar-nav fs-5">
                            <li class="nav-item"><a href="VehiclePage.html" class="nav-link text-white">Book Now</a></li>
                            <li class="nav-item"><a href="/#aboutUs" class="nav-link text-white">About Us</a></li>
                            <li class="nav-item"><a href="/#ContactUs" class="nav-link text-white">Contact Us</a></li>

                            <!-- User name and pic here with a drop down -->
                            <li class="nav-item ">
                                <div class="dropdown">
                                    <button class="btn shadow-none dropdown-toggle text-white " type="button" id="userNameDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/images/profilepic1.jpg" class="profilePic" alt="">
                                      <span class="fs-5">Joe Biden</span>
                                    </button>
                                    <ul class="dropdown-menu text-dark" aria-labelledby="userDropDown">
                                      <li><a class="dropdown-item" href="#">My Profile</a></li>
                                      <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div><br><br><br><br><br>
    <div class="container mt-5" id="payment-content">
        <div class="row">
            <div class="col-sm">
                <div class="trip d-flex flex-wrap">
                    <div class="dashboard-content p-4" style="margin-top: 3rem;">
                        <div id="upcoming-trips-items">
                            <div class="trip-info-card card overflow-hidden border-0fs-5" style="background-color: #bbc4de; border-radius: 20px; width:400px; height: auto; ">
                                <img src="/images/jonathan-borba-T5jzpRTVF1U-unsplash.jpg" alt="bus" style="width:250px; margin-top:50px; margin-left:70px;" >
                                <div class=" start-trip-content">
                                    <div class="start-trip-content">
                                        <p style="font-size:40px ; font-weight:bold;">NA - 4321</p >
                                        <div class=" rating-stars d-flex">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"> </span>
                                        </div>
                                        <p>LKR/KM-240.00</p>
                                        <P><img src="/images/ic_airline_seat_recline_extra_24px.svg"  style="width:25px; height:50px; margin-top:-5px;color:#240A6B;">50</P>
                                        <P>NON-AC</P>
                                        <p>Start Date<br>16 Dec 2022</p>
                                    </div>
                                    <div class="end-trip-content">
                                        <p>Bus Owner Name<br>Joe Pathiraba</p>
                                        <p>Driver Name <br>Sadun Lakshitha</p>
                                        <p>Contact Number<br>0775482478</p>
                                        <p>Return Date<br>17 Dec 2022</p>
                                    </div>
                                    <div class="center-value">
                                        <div class="row px-3 ">
                                            <div class="col-6">Colombo</div>
                                            <div class="position-absolute" style="position: absolute; z-index: 10;margin-left:100px; ">
                                                <i class="fa fa-long-arrow-right fa-2x"></i>
                                            </div>
                                            <div class="col-3">Kandy</div>
                                        </div>
                                        <p class="value">LKR 50000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>    
            </div>
            <div class="col-sm">
                <div class="trip d-flex flex-wrap">
                    <div class="dashboard-content p-4" style="margin-top: 3rem;">
                        <div id="upcoming-trips-items">
                            <div class="trip-info-card card overflow-hidden border-0fs-5" style="background-color: #bbc4de; border-radius: 20px; width:400px; height:600px;">
                                <div class="payment-content">
                                    <h1>We accept</h1>
                                    <div class="svg m-4">
                                        <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.6692 23.3645L29.1262 44.6037H23.6312L28.1746 23.3645H33.6692ZM56.7863 37.0789L59.6784 29.1031L61.3427 37.0789H56.7863ZM62.9191 44.6037H68L63.5612 23.3645H58.8744C57.8182 23.3645 56.9277 23.9769 56.5336 24.9213L48.2889 44.6037H54.0596L55.2051 41.4318H62.2537L62.9191 44.6037ZM48.5751 37.6698C48.5989 32.0644 40.8262 31.7539 40.8783 29.2493C40.895 28.4883 41.6211 27.6777 43.208 27.4703C43.9948 27.3691 46.166 27.2869 48.6271 28.421L49.5897 23.9153C48.2679 23.4371 46.5668 22.9766 44.4501 22.9766C39.0181 22.9766 35.1969 25.8619 35.1663 29.9969C35.1315 33.0547 37.8959 34.7597 39.9744 35.7781C42.1174 36.819 42.8354 37.4864 42.8249 38.4165C42.8101 39.8415 41.1161 40.4725 39.5388 40.4964C36.7748 40.5394 35.1725 39.7493 33.8956 39.1541L32.8982 43.8103C34.1842 44.3988 36.5536 44.9109 39.0071 44.9372C44.7821 44.9372 48.5578 42.0858 48.5751 37.6698ZM25.8176 23.3645L16.9146 44.6037H11.1071L6.72562 27.6533C6.46002 26.6109 6.22833 26.2278 5.42053 25.7874C4.0992 25.0699 1.91799 24.3987 0 23.9812L0.129938 23.3645H9.4796C10.6705 23.3645 11.742 24.157 12.0148 25.5289L14.3293 37.8203L20.045 23.3645H25.8176Z" fill="#1434CB"/></svg>
                                        <svg width="53" height="41" viewBox="0 0 53 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.64143 40.767V38.0526C9.65745 37.8242 9.62432 37.5952 9.54428 37.3806C9.46424 37.166 9.33911 36.9709 9.17726 36.8082C9.0154 36.6455 8.82052 36.519 8.60562 36.4372C8.39073 36.3553 8.16077 36.32 7.93105 36.3335C7.6304 36.314 7.32999 36.375 7.06116 36.5103C6.79232 36.6456 6.56489 36.8501 6.40258 37.1025C6.25464 36.8576 6.04305 36.6569 5.79007 36.5216C5.53708 36.3863 5.25207 36.3213 4.96507 36.3335C4.7149 36.321 4.46577 36.3737 4.24237 36.4863C4.01896 36.599 3.82902 36.7678 3.69134 36.9759V36.4421H2.74512V40.767H3.7004V38.3692C3.67974 38.2213 3.6923 38.0706 3.73715 37.928C3.78201 37.7855 3.85804 37.6546 3.95981 37.5447C4.06158 37.4349 4.18655 37.3488 4.32574 37.2927C4.46494 37.2365 4.61494 37.2118 4.7649 37.2202C5.39266 37.2202 5.71113 37.6273 5.71113 38.3602V40.767H6.66643V38.3692C6.64733 38.2215 6.66094 38.0715 6.70637 37.9296C6.75179 37.7877 6.82792 37.6575 6.92936 37.548C7.03081 37.4385 7.15513 37.3524 7.2936 37.2957C7.43207 37.2391 7.58134 37.2133 7.73091 37.2202C8.37682 37.2202 8.68616 37.6273 8.68616 38.3602V40.767H9.64143ZM23.7798 36.4421H22.2332V35.1301H21.2779V36.4421H20.3953V37.3016H21.2779V39.2741C21.2779 40.2784 21.6691 40.8756 22.7881 40.8756C23.2062 40.8768 23.6161 40.7608 23.9709 40.5408L23.698 39.7355C23.4442 39.886 23.1562 39.9701 22.8609 39.9798C22.3878 39.9798 22.2332 39.6902 22.2332 39.256V37.3016H23.7798V36.4421ZM31.8498 36.3335C31.6191 36.3267 31.3908 36.382 31.1891 36.4934C30.9873 36.6049 30.8196 36.7685 30.7035 36.9668V36.4421H29.7663V40.767H30.7125V38.3421C30.7125 37.6273 31.0219 37.2292 31.6406 37.2292C31.843 37.2265 32.0439 37.2633 32.2319 37.3378L32.5231 36.4511C32.307 36.3742 32.0793 36.3344 31.8498 36.3335ZM19.6493 36.7858C19.1138 36.4691 18.4979 36.3121 17.8752 36.3335C16.7743 36.3335 16.0647 36.8582 16.0647 37.7178C16.0647 38.4236 16.5924 38.8579 17.5658 38.9936L18.0116 39.0569C18.5302 39.1292 18.7759 39.265 18.7759 39.5093C18.7759 39.844 18.4301 40.0341 17.7842 40.0341C17.2646 40.049 16.7551 39.8896 16.3376 39.5816L15.8918 40.3145C16.4429 40.6973 17.1031 40.894 17.7751 40.8756C19.0306 40.8756 19.7584 40.2874 19.7584 39.4641C19.7584 38.704 19.1853 38.3059 18.2391 38.1701L17.7933 38.1068C17.3839 38.0526 17.0564 37.9712 17.0564 37.6817C17.0564 37.3649 17.3656 37.1749 17.8843 37.1749C18.3605 37.1821 18.8271 37.3097 19.2399 37.5459L19.6493 36.7858ZM44.9965 36.3335C44.7658 36.3267 44.5375 36.382 44.3358 36.4934C44.134 36.6049 43.9662 36.7685 43.8501 36.9668V36.4421H42.913V40.767H43.8592V38.3421C43.8592 37.6273 44.1686 37.2292 44.7872 37.2292C44.9896 37.2264 45.1906 37.2633 45.3786 37.3378L45.6698 36.4511C45.4537 36.3742 45.226 36.3344 44.9965 36.3335ZM32.805 38.6044C32.7925 38.9091 32.8442 39.213 32.9568 39.4967C33.0695 39.7803 33.2405 40.0373 33.4591 40.2513C33.6776 40.4652 33.9387 40.6312 34.2257 40.7388C34.5126 40.8463 34.819 40.8929 35.1251 40.8756C35.6932 40.904 36.2514 40.72 36.6899 40.3598L36.2351 39.5997C35.9079 39.8477 35.5091 39.9842 35.0978 39.9888C34.7432 39.9674 34.4102 39.8123 34.1668 39.555C33.9233 39.2977 33.7877 38.9578 33.7877 38.6045C33.7877 38.2512 33.9233 37.9112 34.1668 37.654C34.4102 37.3967 34.7432 37.2416 35.0978 37.2202C35.5091 37.2248 35.9079 37.3612 36.2351 37.6093L36.6899 36.8492C36.2514 36.4891 35.6932 36.3051 35.1251 36.3335C34.819 36.3161 34.5126 36.3628 34.2257 36.4703C33.9388 36.5778 33.6777 36.7438 33.4591 36.9577C33.2406 37.1716 33.0695 37.4286 32.9569 37.7122C32.8442 37.9958 32.7925 38.2997 32.805 38.6044ZM41.6666 36.4421H40.7204V36.9668C40.5589 36.7598 40.3499 36.5943 40.1109 36.4841C39.8719 36.3739 39.6098 36.3223 39.3466 36.3335C38.7603 36.3621 38.2075 36.6138 37.8027 37.0366C37.3979 37.4594 37.1722 38.0208 37.1722 38.6045C37.1722 39.1883 37.3979 39.7497 37.8027 40.1725C38.2075 40.5953 38.7603 40.847 39.3466 40.8756C39.6098 40.8868 39.8719 40.8351 40.1109 40.7249C40.3499 40.6147 40.5589 40.4492 40.7204 40.2421V40.767H41.6666V36.4421ZM38.1456 38.6044C38.1603 38.3492 38.2498 38.1038 38.403 37.8986C38.5562 37.6933 38.7665 37.5372 39.0079 37.4494C39.2493 37.3615 39.5112 37.3459 39.7615 37.4043C40.0117 37.4628 40.2393 37.5928 40.4161 37.7784C40.5929 37.9639 40.7113 38.1969 40.7565 38.4485C40.8018 38.7001 40.7721 38.9594 40.6709 39.1945C40.5698 39.4295 40.4017 39.6299 40.1874 39.7711C39.9731 39.9122 39.722 39.9879 39.4649 39.9888C39.2847 39.9912 39.106 39.9565 38.94 39.8869C38.774 39.8172 38.6243 39.7141 38.5004 39.584C38.3764 39.4539 38.2809 39.2998 38.2199 39.1312C38.1588 38.9626 38.1335 38.7832 38.1456 38.6044ZM26.7276 36.3335C26.1376 36.3644 25.5825 36.6213 25.1788 37.0504C24.7751 37.4795 24.5542 38.0474 24.5624 38.635C24.5707 39.2226 24.8074 39.7841 25.223 40.2019C25.6385 40.6196 26.2006 40.8611 26.7913 40.8756C27.4404 40.8983 28.0752 40.6824 28.5745 40.2693L28.1105 39.5726C27.7512 39.859 27.3062 40.0182 26.8459 40.025C26.5332 40.0512 26.2226 39.9553 25.9798 39.7577C25.7369 39.5601 25.581 39.2763 25.5449 38.9663H28.7747C28.7838 38.8488 28.7929 38.7312 28.7929 38.6044C28.7838 37.2564 27.9468 36.3335 26.7276 36.3335ZM26.7094 37.1749C26.9952 37.1694 27.2715 37.2768 27.4779 37.4735C27.6842 37.6702 27.8038 37.9403 27.8103 38.2245H25.554C25.5706 37.9341 25.7007 37.6618 25.9167 37.4656C26.1326 37.2695 26.4171 37.1651 26.7094 37.1749ZM50.4462 34.7049H49.5V36.9668C49.3385 36.7598 49.1295 36.5943 48.8905 36.4841C48.6515 36.3739 48.3894 36.3223 48.1262 36.3335C47.5399 36.362 46.9871 36.6138 46.5823 37.0366C46.1775 37.4593 45.9517 38.0207 45.9517 38.6045C45.9517 39.1883 46.1775 39.7497 46.5823 40.1725C46.9871 40.5953 47.5399 40.847 48.1262 40.8756C48.3894 40.8868 48.6515 40.8351 48.8905 40.7249C49.1295 40.6147 49.3385 40.4491 49.5 40.2421V40.767H50.4462V34.7049ZM52.0235 40.1402C52.0822 40.1398 52.1405 40.1513 52.1947 40.174C52.2467 40.1956 52.2942 40.2269 52.3345 40.2661C52.3745 40.3053 52.4065 40.3518 52.4287 40.4031C52.4515 40.4558 52.4632 40.5125 52.4632 40.5698C52.4632 40.6272 52.4515 40.6839 52.4287 40.7366C52.4063 40.7876 52.3744 40.8339 52.3345 40.873C52.2941 40.9123 52.2467 40.9437 52.1947 40.9657C52.1406 40.9887 52.0823 41.0004 52.0235 41C51.9369 41.0008 51.852 40.9763 51.7794 40.9295C51.7068 40.8826 51.6496 40.8156 51.6151 40.7366C51.5924 40.6839 51.5807 40.6272 51.5807 40.5698C51.5807 40.5125 51.5924 40.4558 51.6151 40.4031C51.6373 40.3519 51.6691 40.3054 51.7089 40.2661C51.7492 40.2266 51.7969 40.1952 51.8493 40.174C51.9045 40.1512 51.9637 40.1398 52.0235 40.1402ZM52.0235 40.9051C52.0683 40.9055 52.1127 40.8965 52.1539 40.8788C52.1934 40.8617 52.2293 40.8374 52.2597 40.8071C52.3226 40.7441 52.3578 40.6588 52.3578 40.5701C52.3578 40.4813 52.3226 40.3961 52.2597 40.333C52.2293 40.3028 52.1934 40.2787 52.1539 40.2619C52.1127 40.2445 52.0683 40.2357 52.0235 40.2361C51.9779 40.2357 51.9327 40.2445 51.8905 40.2619C51.8504 40.2784 51.8139 40.3025 51.783 40.333C51.7202 40.396 51.6849 40.4813 51.6849 40.5701C51.6849 40.6589 51.7202 40.7441 51.783 40.8071C51.8139 40.8377 51.8504 40.862 51.8905 40.8788C51.9326 40.8965 51.9778 40.9055 52.0235 40.9051ZM52.0489 40.3688C52.0915 40.366 52.1337 40.3782 52.1682 40.4031C52.1819 40.4144 52.1928 40.4286 52.2001 40.4448C52.2074 40.461 52.2107 40.4786 52.21 40.4963C52.2104 40.5115 52.2077 40.5266 52.202 40.5407C52.1962 40.5547 52.1876 40.5674 52.1766 40.5779C52.1503 40.6012 52.1169 40.6151 52.0818 40.6175L52.2131 40.7681H52.1104L51.9886 40.6185H51.9494V40.7681H51.8636V40.3688H52.0489ZM51.9494 40.4437V40.5501H52.0479C52.0668 40.551 52.0856 40.5464 52.102 40.5368C52.1086 40.5324 52.1139 40.5264 52.1175 40.5193C52.121 40.5122 52.1226 40.5043 52.122 40.4963C52.1225 40.4886 52.1208 40.4808 52.1173 40.4739C52.1138 40.4669 52.1085 40.461 52.102 40.4568C52.0856 40.4473 52.0668 40.4427 52.0479 40.4437H51.9494ZM46.9253 38.6044C46.94 38.3492 47.0295 38.1039 47.1827 37.8986C47.3359 37.6934 47.5462 37.5373 47.7876 37.4495C48.029 37.3616 48.2909 37.346 48.5411 37.4045C48.7913 37.463 49.0189 37.593 49.1957 37.7785C49.3725 37.9641 49.4908 38.197 49.5361 38.4486C49.5814 38.7003 49.5516 38.9596 49.4505 39.1946C49.3493 39.4296 49.1812 39.63 48.9669 39.7711C48.7526 39.9123 48.5015 39.9879 48.2445 39.9888C48.0643 39.9912 47.8856 39.9565 47.7196 39.8868C47.5536 39.8172 47.4039 39.714 47.28 39.584C47.156 39.4539 47.0605 39.2997 46.9995 39.1311C46.9384 38.9625 46.9132 38.7832 46.9253 38.6044ZM14.9729 36.4421H14.0267V36.9668C13.8652 36.7598 13.6562 36.5943 13.4172 36.4841C13.1782 36.3739 12.9161 36.3223 12.6529 36.3335C12.0666 36.3621 11.5138 36.6138 11.109 37.0366C10.7043 37.4594 10.4785 38.0208 10.4785 38.6045C10.4785 39.1883 10.7043 39.7497 11.109 40.1725C11.5138 40.5953 12.0666 40.847 12.6529 40.8756C12.9161 40.8868 13.1782 40.8351 13.4172 40.7249C13.6562 40.6147 13.8652 40.4492 14.0267 40.2421V40.767H14.9729V36.4421ZM11.452 38.6044C11.4667 38.3492 11.5562 38.1039 11.7094 37.8986C11.8626 37.6934 12.0729 37.5373 12.3143 37.4495C12.5557 37.3616 12.8176 37.346 13.0679 37.4045C13.3181 37.463 13.5456 37.593 13.7224 37.7785C13.8992 37.9641 14.0175 38.197 14.0628 38.4487C14.1081 38.7003 14.0783 38.9596 13.9772 39.1946C13.876 39.4296 13.708 39.63 13.4937 39.7711C13.2794 39.9123 13.0282 39.9879 12.7712 39.9888C12.591 39.9912 12.4123 39.9565 12.2463 39.8868C12.0803 39.8172 11.9306 39.714 11.8067 39.584C11.6828 39.4539 11.5873 39.2997 11.5262 39.1311C11.4652 38.9625 11.4399 38.7832 11.452 38.6044Z" fill="#231F20"/>
                                            <path d="M33.6662 3.48162H19.3348V29.0939H33.6662V3.48162Z" fill="#FF5F00"/>
                                            <path d="M20.2446 16.2886C20.2423 13.822 20.8044 11.3872 21.8882 9.16849C22.972 6.94981 24.5492 5.00541 26.5003 3.48252C24.0841 1.59377 21.1823 0.419195 18.1266 0.0930276C15.0709 -0.23314 11.9846 0.302267 9.2204 1.63805C6.4562 2.97384 4.12564 5.0561 2.49515 7.64685C0.864657 10.2376 0 13.2323 0 16.2886C0 19.345 0.864657 22.3397 2.49515 24.9305C4.12564 27.5212 6.4562 29.6035 9.2204 30.9392C11.9846 32.275 15.0709 32.8104 18.1266 32.4843C21.1823 32.1581 24.0841 30.9835 26.5003 29.0948C24.5492 27.5719 22.972 25.6275 21.8882 23.4088C20.8044 21.1901 20.2424 18.7553 20.2446 16.2886Z" fill="#EB001B"/>
                                            <path d="M53 16.2886C53.0001 19.3449 52.1356 22.3396 50.5052 24.9304C48.8748 27.5211 46.5443 29.6034 43.7801 30.9392C41.016 32.275 37.9297 32.8104 34.874 32.4843C31.8184 32.1581 28.9165 30.9835 26.5003 29.0948C28.4498 27.5703 30.0259 25.6256 31.1095 23.4073C32.1931 21.189 32.7562 18.7549 32.7562 16.2886C32.7562 13.8224 32.1931 11.3883 31.1095 9.17C30.0259 6.95166 28.4498 5.00695 26.5003 3.48252C28.9165 1.59377 31.8184 0.419189 34.874 0.0930248C37.9297 -0.233139 41.016 0.302278 43.7801 1.63808C46.5443 2.97388 48.8748 5.05615 50.5052 7.6469C52.1356 10.2376 53.0001 13.2323 53 16.2886Z" fill="#F79E1B"/>
                                            <path d="M51.4375 26.3815V25.8571H51.6501V25.7503H51.1086V25.8571H51.3213V26.3815H51.4375ZM52.4887 26.3815V25.7493H52.3227L52.1318 26.1842L51.9408 25.7493H51.7748V26.3815H51.892V25.9046L52.071 26.3158H52.1925L52.3716 25.9036V26.3815H52.4887Z" fill="#F79E1B"/>
                                            </svg>
                                        <svg width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.86784 58.1055C7.79942 59.019 6.4393 59.4185 4.26431 59.4185H3.3618V48.5167H4.26431C6.4393 48.5167 7.74723 48.8893 8.86784 49.8483C10.0246 50.8393 10.7197 52.3681 10.7197 53.9494C10.7197 55.5383 10.0246 57.1215 8.86784 58.1055ZM4.93804 45.7241H0V62.2122H4.90794C7.51979 62.2122 9.40509 61.6175 11.0576 60.3051C13.0205 58.7507 14.1852 56.4038 14.1852 53.9723C14.1852 49.105 10.3852 45.7241 4.93804 45.7241Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7354 45.7241H19.0838V62.2122H15.7354V45.7241Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3068 52.0436C25.2857 51.3342 24.6949 50.8618 24.6949 49.9706C24.6949 48.9348 25.7506 48.1493 27.2024 48.1493C28.2086 48.1493 29.0375 48.5347 29.9207 49.4764L31.6688 47.2818C30.2244 46.0654 28.4956 45.4496 26.611 45.4496C23.5616 45.4496 21.2374 47.4796 21.2374 50.164C21.2374 52.443 22.3179 53.5992 25.471 54.6972C26.789 55.1357 27.4587 55.4353 27.7979 55.6382C28.4696 56.0537 28.8041 56.6491 28.8041 57.3373C28.8041 58.6785 27.6935 59.6644 26.1922 59.6644C24.5939 59.6644 23.3007 58.8987 22.5266 57.4609L20.3604 59.4685C21.9091 61.64 23.7657 62.6106 26.3233 62.6106C29.8116 62.6106 32.2696 60.3756 32.2696 57.1926C32.2696 54.5698 31.1296 53.3809 27.3068 52.0436Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.3252 53.9724C33.3252 58.8212 37.3025 62.5785 42.4225 62.5785C43.8663 62.5785 45.104 62.3058 46.628 61.6175V57.8283C45.2813 59.1234 44.0991 59.6342 42.5697 59.6342C39.1865 59.6342 36.7901 57.2918 36.7901 53.9493C36.7901 50.7913 39.2641 48.2894 42.4225 48.2894C44.0161 48.2894 45.2338 48.8297 46.628 50.144V46.3592C45.1555 45.6467 43.9472 45.3516 42.4914 45.3516C37.4009 45.3516 33.3252 49.1825 33.3252 53.9724Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M73.8519 56.7937L69.2571 45.7241H65.5935L72.8979 62.6284H74.6995L82.1457 45.7241H78.511L73.8519 56.7937Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M83.6704 62.2122H93.1993V59.4185H87.0322V54.9678H92.9651V52.1747H87.0322V48.5166H93.1993V45.7241H83.6704V62.2122Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M99.7623 53.3061H98.7869V48.319H99.8172C101.917 48.319 103.041 49.1621 103.041 50.7684C103.041 52.4188 101.917 53.3061 99.7623 53.3061ZM106.501 50.5889C106.501 47.5013 104.288 45.7241 100.409 45.7241H95.4177V62.2122H98.7869V55.5831H99.2238L103.866 62.2122H108L102.579 55.263C105.113 54.7675 106.501 53.1119 106.501 50.5889Z" fill="#201D1C"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.0671 54.0106C66.0671 58.7577 62.0477 62.6052 57.0849 62.6052C52.1234 62.6052 48.1033 58.7577 48.1033 54.0106C48.1033 49.263 52.1234 45.4148 57.0849 45.4148C62.0477 45.4148 66.0671 49.263 66.0671 54.0106Z" fill="url(#paint0_linear_373_1393)"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.0671 54.0106C66.0671 58.7577 62.0477 62.6052 57.0849 62.6052C52.1234 62.6052 48.1033 58.7577 48.1033 54.0106C48.1033 49.263 52.1234 45.4148 57.0849 45.4148C62.0477 45.4148 66.0671 49.263 66.0671 54.0106Z" fill="url(#paint1_radial_373_1393)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_373_1393" x1="51.5743" y1="47.0391" x2="62.754" y2="60.5391" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#E6772F"/>
                                            <stop offset="1" stop-color="#EA9D2C"/>
                                            </linearGradient>
                                            <radialGradient id="paint1_radial_373_1393" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(59.0625 57.5859) rotate(-128.1) scale(11.7941 12.3248)">
                                            <stop stop-color="#EA9D2C" stop-opacity="0"/>
                                            <stop offset="0.328125" stop-color="#DF7624" stop-opacity="0"/>
                                            <stop offset="0.760188" stop-color="#BF4B23" stop-opacity="0.75"/>
                                            <stop offset="1" stop-color="#7D3017"/>
                                            </radialGradient>
                                            </defs>
                                        </svg>
                                        <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.9998 40.4125H73.9425C72.718 40.4125 71.8286 40.7049 71.1987 41.1594V40.4125H65.1973C64.2376 40.4125 63.1111 40.6497 62.5783 41.1594V40.4125H51.8615V41.1594C51.0086 40.546 49.5695 40.4125 48.9052 40.4125H41.8363V41.1594C41.1615 40.5079 39.661 40.4125 38.7464 40.4125H30.8351L29.0247 42.3658L27.3291 40.4125H15.5112V53.1751H27.1067L28.9721 51.1909L30.7294 53.1751L37.8769 53.1814V50.1792H38.5796C39.5279 50.1938 40.6464 50.1557 41.6332 49.7304V53.1748H47.5286V49.8485H47.813C48.176 49.8485 48.2117 49.8634 48.2117 50.225V53.1746H66.1208C67.2578 53.1746 68.4463 52.8844 69.1044 52.3579V53.1746H74.7852C75.9673 53.1746 77.1217 53.0093 78.0001 52.5862C78.0001 -17.2418 77.9998 69.6492 77.9998 40.4125Z" fill="#006FCF"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.7461 37.4335L4.59071 35.4023H6.4816L7.324 37.4335H14.6942V35.8806L15.3521 37.4401H19.1781L19.836 35.8574V37.4335H38.1523L38.1438 34.0994H38.4982C38.7463 34.1079 38.8188 34.1308 38.8188 34.5393V37.4335H48.2921V36.6573C49.0562 37.0655 50.2447 37.4335 51.8085 37.4335H55.7939L56.6469 35.4023H58.5378L59.3718 37.4335H67.0519V35.5041L68.2149 37.4335H74.3693V24.6797H68.2786V26.1859L67.4256 24.6797H61.1759V26.1859L60.3927 24.6797H51.9507C50.5376 24.6797 49.2955 24.8763 48.2921 25.4244V24.6797H42.4664V25.4244C41.8279 24.8595 40.9578 24.6797 39.9904 24.6797H18.707L17.2789 27.9738L15.8124 24.6797H9.10866V26.1859L8.37222 24.6797H2.655L0 30.7435V37.4335H3.7461Z" fill="#006FCF"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M38.6765 48.2974C40.5928 48.2974 42.4942 47.7727 42.4942 45.2319C42.4942 42.6988 40.5394 42.2186 38.7996 42.2186H31.7943L29.0057 45.2168L26.3083 42.2186H17.4907V51.3653H26.1747L28.9802 48.3373L31.6798 51.3653H35.941V48.2974H38.6765ZM35.941 46.4398H38.7741C39.6165 46.4398 40.1405 46.023 40.1405 45.232C40.1405 44.4321 39.5911 44.1105 38.7996 44.1105H35.941V46.4398ZM25.0648 49.4591H19.6746V47.6393H24.4877V45.7731H19.6746V44.1102H25.171L27.569 46.7757L25.0648 49.4591ZM33.7574 50.5335L30.3914 46.8077L33.7574 43.2003V50.5335Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.8701 47.8825C51.6831 47.6161 51.2842 47.2942 50.7962 47.1147C51.3733 46.8863 52.3498 46.1413 52.3501 44.6814C52.3501 43.638 51.915 43.067 51.2231 42.6503C50.5035 42.2674 49.6951 42.2186 48.5852 42.2186H43.5236V51.3653H45.7266V48.0246H48.0695C48.8693 48.0246 49.3576 48.1029 49.678 48.4306C50.0448 48.8134 50.0384 49.5119 50.0334 50.0489C50.0329 50.1084 50.0324 50.166 50.0324 50.2209V51.3653H52.2334V49.552C52.2245 48.7458 52.1797 48.3291 51.8701 47.8825ZM49.4722 45.9764C49.1789 46.1499 48.8162 46.1648 48.3896 46.1648H45.7263V44.1105H48.4259C48.8162 44.1105 49.2069 44.1188 49.4722 44.2757C49.7563 44.4238 49.9261 44.7071 49.9261 45.0985C49.9261 45.4899 49.7563 45.8051 49.4722 45.9764Z" fill="white"/>
                                            <path d="M69.2548 46.5412C69.6816 46.9817 69.9104 47.5378 69.9104 48.4791C69.9104 50.4468 68.6774 51.3653 66.4664 51.3653H62.1963V49.4039H66.4493C66.8651 49.4039 67.16 49.349 67.3448 49.1775C67.4956 49.036 67.6037 48.8305 67.6037 48.5809C67.6037 48.3145 67.4867 48.1029 67.3362 47.976C67.1686 47.8365 66.9373 47.773 66.5555 47.773C66.4212 47.7685 66.2848 47.7648 66.1469 47.761C64.18 47.7077 61.9377 47.6469 61.9377 44.942C61.9377 43.6154 62.7737 42.2189 65.0721 42.2189H69.4672V44.1656H65.4456C65.0469 44.1656 64.7877 44.1805 64.5672 44.3308C64.3271 44.4789 64.238 44.6988 64.238 44.9889C64.238 45.334 64.4419 45.5687 64.7177 45.6702C64.949 45.7505 65.1974 45.7739 65.5709 45.7739L66.7511 45.8056C67.9412 45.8346 68.7582 46.0398 69.2548 46.5412Z" fill="white"/>
                                            <path d="M77.9999 44.165H74.0043C73.6053 44.165 73.3403 44.1799 73.117 44.3303C72.8858 44.4784 72.7967 44.6982 72.7967 44.9884C72.7967 45.3334 72.992 45.5681 73.2761 45.6696C73.5074 45.7499 73.7558 45.7733 74.121 45.7733L75.3092 45.8051C76.5082 45.8346 77.3086 46.04 77.7966 46.5412C77.8715 46.6001 77.9212 46.6651 77.9717 46.731L77.9853 46.7489L77.9941 46.7602L77.9999 46.7677V50.1953C77.4673 50.9717 76.4296 51.3653 75.0248 51.3653H70.791V49.404H75.0077C75.426 49.404 75.7187 49.3491 75.8949 49.1775C76.0476 49.036 76.1541 48.8305 76.1541 48.5809C76.1541 48.3145 76.0476 48.1029 75.8863 47.976C75.7272 47.8365 75.4957 47.773 75.1139 47.773C74.9792 47.7685 74.8424 47.7648 74.7042 47.7611C72.7304 47.7077 70.4872 47.6471 70.4872 44.9421C70.4872 43.6154 71.3321 42.2189 73.6327 42.2189H77.9996L77.9999 44.165Z" fill="white"/>
                                            <path d="M53.5657 42.2186H60.8828V44.1102H55.749V45.7731H60.7575V47.6393H55.749V49.4591L60.8828 49.4674V51.3653H53.5657V42.2186Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.03095 31.6779L5.5304 28.0325L4.03844 31.6779H7.03095ZM40.0877 30.2264C39.7864 30.4087 39.4301 30.4148 39.0033 30.4148H36.34V28.3837H39.0395C39.4215 28.3837 39.8202 28.4008 40.0791 28.5486C40.3635 28.6818 40.5395 28.9654 40.5395 29.357C40.5395 29.7567 40.3721 30.0783 40.0877 30.2264ZM59.0874 31.6779L57.5703 28.0325L56.0614 31.6779H59.0874ZM23.6708 35.6238H21.4233L21.415 28.4619L18.236 35.6238H16.3111L13.1238 28.4556V35.6238H8.66482L7.82243 33.5841H3.25772L2.40675 35.6238H0.0256348L3.95156 26.4794H7.20882L10.9375 35.1373V26.4794H14.5157L17.3848 32.6828L20.0204 26.4794H23.6705V35.6238H23.6708ZM32.6284 35.6238H25.3047V26.4794H32.6284V28.3836H27.4972V30.0319H32.5053V31.9063H27.4972V33.7325H32.6284V35.6238ZM42.9546 28.9421C42.9546 30.4001 41.9786 31.1534 41.4098 31.3795C41.8895 31.5616 42.2992 31.8832 42.4943 32.1496C42.8038 32.6044 42.8572 33.0107 42.8572 33.8274V35.6238H40.646L40.6377 34.4706C40.6377 33.9204 40.6905 33.129 40.2916 32.6891C39.9712 32.3675 39.4829 32.2977 38.6937 32.2977H36.3402V35.6238H34.148V26.4794H39.1905C40.3109 26.4794 41.1365 26.5089 41.8452 26.9174C42.5388 27.3259 42.9546 27.9222 42.9546 28.9421ZM46.4631 35.6238H44.2261V26.4794H46.4631V35.6238ZM72.4149 35.6238H69.3082L65.1526 28.7604V35.6238H60.6878L59.8346 33.5841H55.2804L54.4527 35.6238H51.8873C50.8217 35.6238 49.4725 35.3888 48.7084 34.6124C47.9379 33.836 47.537 32.7843 47.537 31.1214C47.537 29.7652 47.7766 28.5254 48.7189 27.5457C49.4276 26.8159 50.5376 26.4794 52.0483 26.4794H54.1708V28.4388H52.0929C51.2928 28.4388 50.841 28.5574 50.4059 28.9805C50.0321 29.3655 49.7757 30.0934 49.7757 31.0519C49.7757 32.0316 49.971 32.7379 50.3785 33.1994C50.716 33.5612 51.3293 33.671 51.9064 33.671H52.891L55.9809 26.4796H59.2658L62.9776 35.129V26.4796H66.3157L70.1694 32.8483V26.4796H72.4149V35.6238Z" fill="white"/>
                                        </svg>
                                        <br><br>
                                        <div class="form">
                                            <form>
                                                <label>Name on Card</label><br>
                                                <input  type="text" name="name" id="name" placeholder="Enter a valid name" style="border-radius: 10px; width:75%; border: 1px solid #000;"><br><br>
                                                <label>Card Number</label><br>
                                                <input  type="text" name="card Number"id="card" placeholder="Enter a valid card number" style="border-radius: 10px; width:75%; border: 1px solid #000;;"><br><br>
                                                <label>Expiary</label> <label id="cvv">CVV</label><br>
                                                <input  type="text"id="expiary" name="Expiary" placeholder="Enter Expiary" style="border-radius: 10px; width:40%; border: 1px solid #000;">
                                                <input  type="text" name="cvv" id="cVV" placeholder="Enter cvv" style="border-radius: 10px; width:40%; border: 1px solid #000;"><br><br>
                                                <input  type="button" value="pay" id="btn2" class="submit" onclick="paymentValidation();"> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>    
    </div>     
   <br><br>
    <footer>
        <p class="copyright">
             &copy;  2022 Book My Bus. 
        </p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        
        function paymentValidation(){
            // event.preventDefault();

            let name = document.getElementById("name").value;
            let card = document.getElementById("card").value;
            let expiary = document.getElementById("expiary").value;
            let cvv = document.getElementById("cVV").value;

            let card_pattern = /^[0-9]{16,16}$/;
            let pin_pattern = /^[0-9]{3,3}$/;
            let holder_pattern = /^\b(?!.*\.{2})[a-zA-Z.]+(?:\s[a-zA-Z.]+)\b$/; 

            if(!name.match(holder_pattern)){
                alert("please enter a valid name");
                document.getElementById("name").focus();
                return false;   
            }
            if(!card.match(card_pattern)){
                alert("please enter a valid cardnumber");
                document.getElementById("card").focus();
                return false;
                
            }if(expiary == ""){
                alert("please enter the expiary date");
                document.getElementById("expiary").focus();
                return;
            }if(cvv ==""){
                alert("please enter the cvv in your card");
                document.getElementById("cVV").focus();
                return false;
            }
            alert("Thank you for your payment")


        }


    </script>
</body>
</html>