<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/commonstyles.css">
    <link rel="stylesheet" href="/css/syntax3.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
<!-- Font awesome for star icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header1">
        <header>
            <!--nav bar-->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light p-md-2 bg-white">
                <div class="container">
                    <a href="/" class="navbar-brand text-white fs-1" style="margin-left: -70px;">Book My Bus</a>
                    <button type="button"class="navbar-toggler bottom-"data-bs-target="#navbarNav"data-bs-toggle="collapse"aria-controls="navbarNav"aria-expanded="false"aria-label="Toggle Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mx-auto"></div>
                        <ul class="navbar-nav fs-5">
                            <li class="nav-item my-auto"><a href="/vehicle" class="nav-link text-dark">Book Now</a></li>
                            <li class="nav-item my-auto"><a href="/#aboutUs" class="nav-link text-dark">About Us</a></li>
                            <li class="nav-item my-auto"><a href="/#ContactUs" class="nav-link text-dark">Contact Us</a></li>
                            <%- include('partials/navBarProfileOrSignIn')  %> 
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
        </header>
    </div>

    <div class="dashboard-grid" style="height:100%;">

        <div class="sidebar" style="background-color: #240A6B;">
            <a href="/" class="navbar-brand text-white fw-bold fs-1 mx-5">Book My Bus</a><br>
            <div class="mx-5 mt-5 text-white  fs-3">Dashboard</div>
            <ul class="list-group-horizontal list-unstyled mx-5 " id="dashboard-menu">
                <li><a class="text-white-50 text-decoration-none fs-5"  href="#upcoming-trips">Upcoming Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="#pending-confirmation">Pending confirmation</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="#prev-trips">Previous Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5" href="#cancelled-trips">Cancelled Trips</a></li>
                <li><a class="text-white-50 text-decoration-none fs-5"href="/accounts/profile" style="position:absolute; bottom:1rem ;">My Profile</a></li>
            </ul>
        </div>
<!--
        <div class="dashboard-content p-4">
            <h1  class="p-2" id="upcoming-trips">Upcoming Trips</h1>
                <div id="upcoming-trips-items" class="d-flex flex-wrap gap-3">

                    
                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                <span class="text-white fw-bold trip-id">Id: T123</span>
                            </div>
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start">30 Dec 2022</div>
                                    <div class="col-6 text-end">Upcoming</div>
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">Colombo</div>
                                    <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                        <i class="fa fa-long-arrow-right fa-2x"></i>
                                    </div>
                                    <div class="col-6 text-center">Galle</div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">NA-1323</div>
                                    <div class="col-6 text-center">
                                        <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">
                                        <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="col-6 text-end ">LKR 30000</div>
                                </div>                      
                            </div>
                        </div>  
                    </div>

                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                <span class="text-white fw-bold trip-id">Id: T123</span>
                            </div>
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start">30 Dec 2022</div>
                                    <div class="col-6 text-end">Upcoming</div>
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">Colombo</div>
                                    <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                        <i class="fa fa-arrows-h fa-2x"></i>
                                    </div>
                                    <div class="col-6 text-center">Galle</div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">NA-1323</div>
                                    <div class="col-6 text-center">
                                        <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">
                                        <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="col-6 text-end ">LKR 30000</div>
                                </div>                      
                            </div>
                        </div>  
                    </div>

                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                <span class="text-white fw-bold trip-id">Id: T123</span>
                            </div>
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start">30 Dec 2022</div>
                                    <div class="col-6 text-end">Upcoming</div>
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">Colombo</div>
                                    <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                        <i class="fa fa-long-arrow-right fa-2x"></i>
                                    </div>
                                    <div class="col-6 text-center">Galle</div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">NA-1323</div>
                                    <div class="col-6 text-center">
                                        <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">
                                        <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="col-6 text-end ">LKR 30000</div>
                                </div>                      
                            </div>
                        </div>  
                    </div>

                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                <span class="text-white fw-bold trip-id">Id: T123</span>
                            </div>
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start">30 Dec 2022</div>
                                    <div class="col-6 text-end">Upcoming</div>
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">Colombo</div>
                                    <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                        <i class="fa fa-long-arrow-right fa-2x"></i>
                                    </div>
                                    <div class="col-6 text-center">Galle</div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">NA-1323</div>
                                    <div class="col-6 text-center">
                                        <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">
                                        <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="col-6 text-end ">LKR 30000</div>
                                </div>                      
                            </div>
                        </div>  
                    </div>
                    <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                        <div class="trip-card-grid">
                            <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                                <span class="text-white fw-bold trip-id">Id: T123</span>
                            </div>
                            <div class="d-flex justify-content-around flex-column fw-bold">
                                <div class="row px-3">
                                    <div class="col-6 text-start">30 Dec 2022</div>
                                    <div class="col-6 text-end">Upcoming</div>
                                </div>
                                <div class="row px-3 ">
                                    <div class="col-6 text-start">Colombo</div>
                                    <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                        <i class="fa fa-long-arrow-right fa-2x"></i>
                                    </div>
                                    <div class="col-6 text-center">Galle</div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">NA-1323</div>
                                    <div class="col-6 text-center">
                                        <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-6 text-start">
                                        <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="col-6 text-end ">LKR 30000</div>
                                </div>                      
                            </div>
                        </div>  
                    </div>
                </div>

            <h1  class="p-2" id="pending-confirmation">Pending Confirmation</h1>
            <div id="pending-confirmation-items" class="d-flex flex-wrap gap-3">

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end fs-6">Pending Confirmation</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end fs-6">Pending Confirmation</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">                                
                                    <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                        Cancel
                                    </button>                                
                                
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end fs-6">Pending Confirmation</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end fs-6">Pending Confirmation</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

            </div>

            <h1  class="p-2" id="prev-trips" >Previous Trips</h1>
            <div id="previous-trip-items" class="d-flex flex-wrap gap-3">
                
                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Upcoming</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div class="rating-stars d-flex">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"> </span>
                                    </div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Upcoming</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div class="rating-stars d-flex">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"> </span>
                                    </div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Upcoming</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div class="rating-stars d-flex">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"> </span>
                                    </div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Upcoming</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div class="rating-stars d-flex">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"> </span>
                                    </div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>
                </div>
            <h1  class="p-2" id="cancelled-trips">Cancelled Trips</h1>
            <div id="cancelled-trips-items" class="d-flex flex-wrap gap-3">

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Cancelled</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div></div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Cancelled</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-arrows-h fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div></div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Cancelled</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div></div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Cancelled</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div></div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>

                <div class="trip-info-card card overflow-hidden border-0 fs-5" style="background-color: #F5F5F5; border-radius: 20px;">
                    <div class="trip-card-grid">
                        <div class="trip-info-bus-img" style="background-image: url('/images/1.jpg');" >
                            <span class="text-white fw-bold trip-id">Id: T123</span>
                        </div>
                        <div class="d-flex justify-content-around flex-column fw-bold">
                            <div class="row px-3">
                                <div class="col-6 text-start">30 Dec 2022</div>
                                <div class="col-6 text-end">Cancelled</div>
                            </div>
                            <div class="row px-3 ">
                                <div class="col-6 text-start">Colombo</div>
                                <div class="position-absolute" style="position: absolute; z-index: 10; left: 55%;">
                                    <i class="fa fa-long-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-6 text-center">Galle</div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">NA-1323</div>
                                <div class="col-6 text-center">
                                    <img src="/images/ic_airline_seat_recline_extra_24px.svg" class="seat-icon"><span>50</span>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-6 text-start">
                                    <div></div>
                                </div>
                                <div class="col-6 text-end ">LKR 30000</div>
                            </div>                      
                        </div>
                    </div>  
                </div>
            </div>      
        </div>
    </div>
</div> -->
<div class="dashboard-content p-4"> 
    <div>
    <table class="table">
      <thead>
        <tr> <th class="table-info" colspan="3" >UPCOMING TRIPS</th></tr>
        <tr>
          <th scope="col">Trip ID</th>
          <th scope="col">TO</th>
          <th scope="col">From</th>
          <th scope="col" style="min-width: 80px;">No Of KM</th>
          <th scope="col">Full Price</th>
          <th scope="col">Start Date</th>
          <th scope="col">Return Date</th>
          <th scope="col">Bus No</th>
          <th scope="col">Client Name</th>
          <th scope="col">Contact No.</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="upcoming-trips">
       <!-- <tr> 
          <th>1</th>
          <td>Kandy</td>
          <td>Colombo</td>
          <td>24</td>
          <td>4500.00</td>
          <td>2023-01-09</td>
          <td>2023-01-03</td>
          <td>NH-9685</td>
          <td>Sam</td>
          <td>0774158741</td>
          <td>
              <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6"> Cancel</button>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>Kandy</td>
          <td>Colombo</td>
          <td>24</td>
          <td>4500.00</td>
          <td>2023-01-09</td>
          <td>2023-01-03</td>
          <td>NH-9685</td>
          <td>Sam</td>
          <td>0774158741</td>
          <td>
              <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6"> Cancel</button>
          </td>
        </tr>-->
    </tbody>
    </table>    
    </div>

    <div>
      <table class="table">
        <thead>
            <tr> <th class="table-info" colspan="3">PENDING CONFIRMATION</th></tr>
          <tr>
            <th scope="col">Trip ID</th>
            <th scope="col">TO</th>
            <th scope="col">From</th>
            <th scope="col" style="min-width: 80px;">No Of KM</th>
            <th scope="col">Full Price</th>
            <th scope="col">Start Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Bus No.</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Contact No.</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="pending-trips">
          <!-- <tr> 
              <th >3</th>
              <td>Kandy</td>
              <td>Colombo</td>
              <td>24</td>
              <td>4500.00</td>
              <td>2023-01-09</td>
              <td>2023-01-03</td>
              <td>NH-9685</td>
              <td>Sam</td>
              <td>0774158741</td>
              <td> 
                  <button class="btn-outline-danger rounded-pill shadow-none px-3 fs-6"> Cancel</button>
              </td>
             
            </tr>
            <tr>
              <th>4</th>
              <td>Kandy</td>
              <td>Colombo</td>
              <td>24</td>
              <td>4500.00</td>
              <td>2023-01-09</td>
              <td>2023-01-03</td>
              <td>NH-9685</td>
              <td>Sam</td>
              <td>0774158741</td>
              <td> 
                  <button class="btn-outline-danger rounded-pill shadow-none px-3 fs-6"> Cancel</button>
              </td>                
            </tr>-->
      </tbody>
      </table>    
      </div>

      <div>
          <table class="table">
            <thead>
                <tr> <th class="table-info" colspan="3"   >PREVIOUS TRIPS</th></tr>
              <tr>
                  <th scope="col">Trip ID</th>
                  <th scope="col">TO</th>
                  <th scope="col">From</th>
                  <th scope="col" style="min-width: 80px;">No Of KM</th>
                  <th scope="col">Full Price</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Return Date</th>
                  <th scope="col">Bus No.</th>
                  <th scope="col">Owner Name</th>
                  <th scope="col">Contact No.</th>
                  <th scope="col"></th>
              </tr>
            </thead>
            <tbody  id="previous-trips">
             <!-- <tr> 
                <th>1</th>
                <td>Kandy</td>
                <td>Colombo</td>
                <td>24</td>
                <td>4500.00</td>
                <td>2023-01-09</td>
                <td>2023-01-03</td>
                <td>NH-9685</td>
                <td>Sam</td>
                <td>0774158741</td>
               
              </tr>
              <tr>
                <th>2</th>
                <td>Kandy</td>
                <td>Colombo</td>
                <td>24</td>
                <td>4500.00</td>
                <td>2023-01-09</td>
                <td>2023-01-03</td>
                <td>NH-9685</td>
                <td>Sam</td>
                <td>0774158741</td>
              </tr>-->
          </tbody>
          </table>    
          </div>

          <div>
              <table class="table">
                <thead>
                    <tr> <th class="table-info" colspan="2" style="width:170px;" >CANCELLED TRIPS</th></tr>
                  <tr>
                      <th scope="col">Trip ID</th>
                      <th scope="col">TO</th>
                      <th scope="col">From</th>
                      <th scope="col" style="min-width: 80px;">No Of KM</th>
                      <th scope="col">Full Price</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">Return Date</th>
                      <th scope="col">Bus No.</th>
                      <th scope="col">Owner Name</th>
                      <th scope="col">Contact No.</th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody  id="cancelled-trips">
                 <!-- <tr> 
                    <th>1</th>
                    <td>Kandy</td>
                    <td>Colombo</td>
                    <td>24</td>
                    <td>4500.00</td>
                    <td>2023-01-09</td>
                    <td>2023-01-03</td>
                    <td>NH-9685</td>
                    <td>Sam</td>
                    <td>0774158741</td>
                   
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>Kandy</td>
                    <td>Colombo</td>
                    <td>24</td>
                    <td>4500.00</td>
                    <td>2023-01-09</td>
                    <td>2023-01-03</td>
                    <td>NH-9685</td>
                    <td>Sam</td>
                    <td>0774158741</td>
                    
                  </tr>-->
              </tbody>
              </table>    
              </div>
</div>

    <script>

        // Sidebar menu link color to white for selected link.
            // get a node list of the sidebar links
            const sidebarMenuLinks = document.querySelectorAll(".sidebar li a");

            sidebarMenuLinks.forEach( (link) => {
                link.addEventListener("click", sidebarMenuColorChange);
            });

            // The colors of the sidebar menu
            const colorActiveBsClass = "text-white";
            const colorDefaultBsClass = "text-white-50";

            function sidebarMenuColorChange(e) {
                link = e.target;

                // switch the color of the link to the active color when clicked
                link.classList.replace(colorDefaultBsClass, colorActiveBsClass);

                // switch colors of the other links to default color
                sidebarMenuLinks.forEach(element => {
                    if (element !== link) {
                        element.classList.replace(colorActiveBsClass, colorDefaultBsClass);
                    }
                });
            }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", getTrips);
        let trips;
        function getTrips() {
            
            let upcoming = document.getElementById("upcoming-trips");
            let pending = document.getElementById("pending-trips");
            let previous = document.getElementById("previous-trips");
            let cancelled = document.getElementById("cancelled-trips");

            axios.get('http://localhost:3000/booking/Ownedtrips')
            .then((res)=>{
                trips = res.data
                console.log(trips)

                upcoming.innerHTML =""
                pending.innerHTML =""
                previous.innerHTML =""
                cancelled.innerHTML =""

                trips.forEach( trip => {
                    console.log("sdfsd",trip)
                    switch (trip.Trip_Status) {
                        case "Upcoming":
                            upcoming.innerHTML += `<tr>
                                            <th>${trip.Trip_ID}</th>
                                            <td>${trip.Trip_To}</td>
                                            <td>${trip.Trip_From}</td>
                                            <td>${trip.No_Of_km}</td>
                                            <td>${trip.Trip_Amount}</td>
                                            <td>${trip.Trip_Start_Date}</td>
                                            <td>${trip.Trip_Return_Date}</td>
                                            <td>${trip.Bus_No}</td>
                                            <td>${trip.Name}</td>
                                            <td>${trip.Contact_No}</td>
                                            <td>
                                                <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6" data-trip-id=${trip.Trip_ID} onclick="cancel(event)"> Cancel</button>
                                            </td>
                                        </tr>`
                            break;

                        case "Pending Confirmation":
                                pending.innerHTML += `<tr>
                                                    <th>${trip.Trip_ID}</th>
                                                    <td>${trip.Trip_To}</td>
                                                    <td>${trip.Trip_From}</td>
                                                    <td>${trip.No_Of_km}</td>
                                                    <td>${trip.Trip_Amount}</td>
                                                    <td>${trip.Trip_Start_Date}</td>
                                                    <td>${trip.Trip_Return_Date}</td>
                                                    <td>${trip.Bus_No}</td>
                                                    <td>${trip.Name}</td>
                                                    <td>${trip.Contact_No}</td>
                                                    <td>
                                                        <button class="btn-outline-danger rounded-pill shadow-none px-4 fs-6" data-trip-id=${trip.Trip_ID} onclick="cancel(event)"> Cancel</button>
                                                    </td>
                                                </tr>`
                        break;

                        case "completed":
                                let ratingTableData
                                if ((trip.Trip_Rating === 0) || (trip.Trip_Rating === undefined)){
                                ratingTableData = `<td>
                                                        <select data-trip-id=${trip.Trip_ID} onchange="setRating(event)">
                                                            <option value=null>Rating</option>
                                                            <option value="1">1</option> 
                                                            <option value="2">2</option>    
                                                            <option value="3">3</option>    
                                                            <option value="4">4</option>    
                                                            <option value="5">5</option>
                                                        </select>
                                                    </td>`
                            } else {
                                ratingTableData = `<td>${trip.Trip_Rating}</td>`
                                
                            }
                                previous.innerHTML += `<tr>
                                                            <th>${trip.Trip_ID}</th>
                                                            <td>${trip.Trip_To}</td>
                                                            <td>${trip.Trip_From}</td>
                                                            <td>${trip.No_Of_km}</td>
                                                            <td>${trip.Trip_Amount}</td>
                                                            ${ratingTableData}
                                                            <td>${trip.Trip_Start_Date}</td>
                                                            <td>${trip.Trip_Return_Date}</td>
                                                            <td>${trip.Bus_No}</td>
                                                            <td>${trip.Name}</td>
                                                            <td>${trip.Contact_No}</td>
                                                            
                                                        </tr>`
                                
                            break;

                        case "cancelled":
                            cancelled.innerHTML += `<tr>
                                            <th>${trip.Trip_ID}</th>
                                            <td>${trip.Trip_To}</td>
                                            <td>${trip.Trip_From}</td>
                                            <td>${trip.No_Of_km}</td>
                                            <td>${trip.Trip_Amount}</td>
                                            <td>${trip.Trip_Start_Date}</td>
                                            <td>${trip.Trip_Return_Date}</td>
                                            <td>${trip.Bus_No}</td>
                                            <td>${trip.Name}</td>
                                            <td>${trip.Contact_No}</td>                                                        
                                        </tr>`
                            break;
                    
                        default:
                            break;
                    }

                    
                })
            })
        }

        function cancel(event) {
            let tripId = event.target.dataset.tripId
        
            // axios put
            // url path
            const urlPath = `/booking/cancel/${tripId}`

            // For redirect param
            const params = new URLSearchParams(window.location.search);
            const redirectURL = params.get("redirect")
            let url;
            if (redirectURL) {
                url =`${urlPath}?redirect=${redirectURL}`;
            } else {
                url = `${urlPath}`;
            }

            axios.put(url)
            .then( (res) => {

                axiosReqUrl = window.location.origin + res.config.url  // url axios sent the request to

                //  if the url axios sent the request and the respose url from the server doesnt match a redirection has occured
                if(axiosReqUrl !== res.request.responseURL) {
                    window.location.href = res.request.responseURL;  // set the window location to redirect
                }

                getTrips(); // reload all the trips

            })
            .catch(e=> {
                console.log(e)
                if(e.response.data.error.message){
                    alert(e.response.data.error.message)
                }
            })
            
        }
        
        function setRating(event) {
            let tripId = event.target.dataset.tripId;
            let rating = event.target.value;
            console.log(tripId, rating)
            
            if (confirm(`Do you want to set rating to this trip to ${rating}`)) {
                axios.put(`/booking/rating/${tripId}`, {
                    rating: rating
                }).then( (res) => {
                    alert(res.data.message);
                    getTrips();
        })
    }}
    </script>
</body>
</html>

